<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249394053903-euoadvclacvrh2c4n6nqdkgpelv5s016.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249394053903-euoadvclacvrh2c4n6nqdkgpelv5s016</string>
	<key>API_KEY</key>
	<string>AIzaSyBlnTkRVb8hczIdKxLjMnFUypspG9wAnjA</string>
	<key>GCM_SENDER_ID</key>
	<string>249394053903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ailidhkinney.spinev4</string>
	<key>PROJECT_ID</key>
	<string>spinev4</string>
	<key>STORAGE_BUCKET</key>
	<string>spinev4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249394053903:ios:d9ff75710c65008bf6347a</string>
</dict>
</plist>